.button {
 font-family: inherit;
   background-color: #8a2be2;
   border: none;
   border-radius: 0.5rem;
   color: white;
   transition: all 0.3s ease;
}

.button a {
   color: inherit;
   font-weight: bold;
   display: block;
   padding: 0.8rem;
}

.button:hover {
   background-color: #3d3d3d;
}

