.post {
   padding: 1rem 0;
}

.banner {
   width: 100%;
   border-radius: 0.8rem;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.banner img {
   width: 100%;
   position: relative;
}

.author {
   position: absolute;
   font-weight: bold;
}

.title {
   text-align: center;
}
