.post {
   padding: 1rem 0;
}

.banner {
   width: 100%;
   border-radius: 0.8rem;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.banner img {
   width: 100%;
   position: relative;
}

.author {
   position: absolute;
   font-weight: bold;
}

.title {
   text-align: center;
   width: 100%;
}

.content {
   text-align: justify;
}

@media only screen and (min-width: 1024px) {
   .post {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
   }

   .text {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 1rem;
   }
}
