.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #3d3d3d;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   text-align: center;
}

.moves,
.score {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 0 1rem;
}

.moves h1,
.score h1 {
   margin: 0.2rem;
}

.won {
   color: lawngreen;
}

.lost {
   color: red;
}
